<h3 class="heading -large">{{feed.title}}</h3>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{feed.enclosures[0].url}}" type="image/jpeg" alt="">
    </a>
  </div>
  <div class="media-body">
    <span>{{feed.date | date:'short'}}</span>
    <p>
      {{feed.description}}
    </p>
    <a class="btn btn-lg btn-primary" href="{{feed.link}}" target="_blank" role="button">Lien d'article »</a>
  </div>
</div>
