<h3 class="heading -large">{{title}}</h3>
<table class="table"> 
  <thead> 
    <tr> 
      <th>#</th> 
      <th>Match</th> 
      <th>Date</th> 
    </tr> 
  </thead> 
  <tbody> 
    <tr ng-repeat="feed in feeds track by $index"> 
      <th scope="row">{{$index+1}}</th>
      <td><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></td> 
      <td>{{feed.date | date:'short'}}</td> 
    </tr> 
  </tbody>
</table>
