<h3 class="heading -large">Suivez toute l'actualité football.</h3>
<ul class="media-list" ng-repeat="feed in feeds track by feed.guid">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="{{feed.enclosures[0].url}}" type="image/jpeg" alt="">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="/detail/{{feed.guid}}">{{feed.title}}</a></h4>
      <span>{{feed.date | date:'short'}}</span>
    </div>
  </li>
</ul>
